@import ../../styles/settings

.wrapper
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  padding: 40px 80px 40px 100px

  &::before
    position: absolute
    content: url('./img/Logo.svg')
    left: 0
    top: 25px
    width: 80px
    z-index: 5

  p
    font-family: $a
    font-weight: 700
    color: #000080