@import ../../styles/settings

.section
  height: 477px
  background-image: url('./img/kids_angebot-04.jpg')
  background-size: cover
  background-position: center
  padding-top: 34px
  max-width: 1600px
  margin: 0 auto

  h3
    text-align: center
    max-width: 337px
    text-transform: uppercase
    margin: 0 auto
    // margin-bottom: 40px
    color: $white

    span
      font-weight: 700
      color: $orange
