@import ../../styles/settings

.section
  font-family: $r

  &.sectionWrapper
    background-color: $blue
    background: linear-gradient(to right, $blue 50%, $blueLight 50%)

  h3
    font-size: 22px
    color: $white
    text-transform: uppercase
    margin-bottom: 30px

  .wrapper
    display: grid
    grid-template-columns: 1fr 1fr

  .uber_uns  
    display: flex
    flex-direction: row-reverse
    justify-content: space-between

    .card
      width: 100%

      &:first-child
        background-color: $blueLight

      &:last-child
        background-color: $blue  

  .card
    padding: 100px 20px 100px 80px
    position: relative
    color: $white

    &:first-child

      &::before
        content: url(./img/contacts.svg)

    &:last-child

      &::before
        content: url(./img/location.svg)

    &::before
      position: absolute
      width: 70px
      left: 20px
      top: 30px

    li
      &:not(:last-child)
        margin-bottom: 20px

    address
      font-style: normal
