@import ../../styles/settings

.wrapper
  font-family: $r
  background-size: 1800px
  background-repeat: no-repeat
  background-position: center -926px
  +r(0, 575)
    margin-bottom: 64px
  +r(576)  
    background-image: url('./img/background.jpg')
  +r(576, 991)
    margin-bottom: 96px
  +r(992)
    margin-bottom: 144px

  h4
    font-weight: 500
    color: $blue
    +r(0, 575)
      font-size: 18px
    +r(576)
      font-size: 20px

    +r(0, 575)
      margin-bottom: 20px
    +r(576, 991)
      margin-bottom: 30px
    +r(992)
      margin-bottom: 40px

.section
  +r(0, 575)
    margin-top: 64px
    margin-bottom: 64px
  +r(576, 991)
    margin-top: 96px
    margin-bottom: 96px
  +r(992)
    margin-top: 144px
    margin-bottom: 144px

  h4
    font-size: 20px
    font-weight: 500
    color: $blue

    +r(0, 575)
      margin-bottom: 20px
    +r(576, 991)
      margin-bottom: 30px
    +r(992)
      margin-bottom: 40px

.formContainer
  background-color: #000080
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  padding: 20px 10px

  .form
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 15px

    div
      &:last-child
        grid-column-start: 1
        grid-column-end: 3

    label, span
      color: #fff

      +r(0, 991)
        font-size: 16px

      +r(992)
        font-size: 18px

    input, textarea
      background-color: #fff

  .button
    background-color: $white
    color: $blue
    +r(0, 991)
      font-style: 16px
    +r(992) 
      font-size: 18px

    &:hover, &:focus
      color: $white
      background-color: $orange