@import ../../styles/settings
  
.formContainer
  background-color: #000080
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  padding: 20px 10px

  .form
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 15px

    div
      &:last-child
        grid-column-start: 1
        grid-column-end: 3

    label, span
      color: #fff

    input, textarea 
      background-color: #fff  

  .button
    background-color: #fff
    color: #000080 

