@import ../../styles/settings

.wrapper
  background-image: url('./img/background.jpg')
  background-size:  1800px
  background-repeat: no-repeat
  background-position: center -926px
  +r(0, 575)
    margin-bottom: 64px
  +r(576, 991)
    margin-bottom: 96px
  +r(992)
    margin-bottom: 144px  

  h4
    +r(0, 575)
      margin-bottom: 20px
    +r(576, 991)
      margin-bottom: 30px
    +r(992)
      margin-bottom: 40px 
.section  
  +r(0, 575)
    margin-top: 64px
    margin-bottom: 64px
  +r(576, 991)
    margin-top: 96px
    margin-bottom: 96px
  +r(992)
    margin-top: 144px
    margin-bottom: 144px      
  
.formContainer
  background-color: #000080
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  padding: 20px 10px

  .form
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 15px

    div
      &:last-child
        grid-column-start: 1
        grid-column-end: 3    

    label, span
      color: #fff
      font-size: 18px

    input, textarea 
      background-color: #fff  

  .button
    font-size: 18px
    background-color: $white
    color: $blue

    &:hover, &:focus
      background-color: $orange

