@import ../../styles/settings

.section
  font-family: $r
  display: flex
  align-items: center
  justify-content: center
  gap: 50px

  .imgWrapper
    width: 388px
    gap: 50px

    img
      width: 100%

  .title
    margin-bottom: 20px
    font-weight: 500
    font-size: 24px
    color: $blue

  .subtitle
    font-weight: 500
    max-width: 560px
    padding-right: 20px
    margin-bottom: 15px