@import ../../styles/settings

.wrapper
  margin: 0 auto
  position: relative
  +r(0, 1199)
    width: 100%

  +r(1266)
    max-width: 1500px

  img
    width: 100%

.baner
  font-family: $r
  min-width: 320px
  max-width: 1600px
  width: 100%
  margin: 0 auto
  background-repeat: no-repeat
  background-position: center
  +r(576, 767)
    background-size: 750px 350px
  +r(0, 575)
    background-size: cover
  +r(768)
    background-size: cover

  .heroContent
    display: flex
    flex-direction: column
    +r(0, 429)
       height: 500px
    +r(430, 575)   
      height: 618px
    +r(0, 575)
      justify-content: flex-end
      padding-bottom: 20px
    +r(576) 
      justify-content: center 
    +r(576, 767)
      height: 350px
    +r(768, 999)
      height: 450px
    +r(1000, 1199)
      height: 500px
    +r(1200)
      height: 600px

  h1
    margin-bottom: 10px
    max-width: 545px
    +r(0, 575)
      text-align: center

    &.frauenTitle
      +r(576, 767)  
        font-size: 40px

  h2
    +r(0, 575)
      text-align: center
      font-size: 26px
    +r(576, 768)
      max-width: 200px     

  .text
    font-size: 20px

    p
      +r(0, 575)
        text-align: center
      +r(576, 767)
        max-width: 308px
      +r(768, 999)
        max-width: 425px
      +r(1000, 1199)
        max-width: 420px 
      +r(1200)
        max-width: 540px

.kinder
  position: relative

  h2
    margin-bottom: 10px
    color: $orange

.frauen

  h2
    color: $redLight
    +r(0, 390)  
      display: none

.behorden    

  h2
    +r(575, 991)
      max-width: 388px
    +r(992)
      max-width: 500px 