@import ../../styles/settings
  
.section
  font-family: $r

  ul

    li

      &:not(:last-child)
        margin-bottom: 30px
        
      h4
        font-size: 20px
        font-weight: 500
        color: $orange
        margin-bottom: 10px