@import ../../styles/settings

.section
  padding: 20px
  background-color: $greyLight
  font-family: $r

  .contactTitle
    font-weight: 500
    margin-bottom: 10px
    color: $black

  .wrapper
    display: flex
    align-items: center
    justify-content: space-between

    +r(0, 575)
      flex-wrap: wrap
      gap: 15px

    .address
      font-style: normal

      li
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 15px

        &:not(:last-child)
          margin-bottom: 10px

    .rightSideContainer

      .socialMedia
        display: flex

        +r(0, 575)
          flex-direction: row-reverse
          align-items: center
          gap: 15px
          
        +r(576, 991)
          flex-direction: column-reverse
          align-items: baseline
          gap: 15px

        +r(992)
          align-items: center
          gap: 15px

      .socialIcons
        display: flex
        align-items: center
        justify-content: center
        gap: 15px

      .impressum
        margin-top: 10px

      .active
        color: #DAA520
