@import ../../styles/settings

.outsideWrapper
  font-family: $r

  .insideWrapper
    background-color: $blue
    position: relative
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 60px 60px 80px
    color: $white

    .imgWrapper
      position: absolute
      top: -32px
      left: -32px
      width: 45%

    p
      width: 54%
