@import ../../styles/settings

.section
  font-family: $r
  color: $white
  background-color: $blue

  .wrapper
    position: relative
    +r(0, 575)
      padding: 60px 0px 175px 0px
    +r(576)
      padding: 46px 0px 68px 280px

    .imgWrapper
      position: absolute
      bottom: 0
      left: 0
      +r(0, 575)
        width: 170px
      +r(576)
        width: 260px

    .title
      font-weight: 600  
