@import fonts
@import settings

html
  scroll-behavior: smooth

*, ::before, ::after
  box-sizing: border-box

body
  margin: 0
  background-color: $white
  font-family: $r
  font-weight: 400
  font-size: 18px
  line-height: 1.6
  max-width: 100vw
  overflow-x: hidden

li
  list-style-type: none

a
  text-decoration: none

h1
  font-family: $r
  font-weight: bold
  line-height: 1.2
  letter-spacing: -0.02em
  color: $blue
  margin: 0px
  +r(0, 575)
    font-size: 36px
  +r(576, 991)
    font-size: 46px
  +r(992)
    font-size: 56px 

h2
  font-size: 30px
  font-weight: bold
  color: $blue

h3
  font-weight: 500
  font-size: 24px
  color: $blue  

section
  +r(0, 575)
    margin-top: 64px
    margin-bottom: 64px
  +r(576, 991)
    margin-top: 96px
    margin-bottom: 96px
  +r(992)
    margin-top: 144px
    margin-bottom: 144px
