//fonts
$a: 'Archivo', sans-serif
$r: 'Roboto', sans-serif

//colors
$white: #ffffff 
$black: #000000
$blue: #2C2292
$orange: #E49D0F
$greyLight: #E6E7E8
$redLight: #AC465D


// effects
$tr: 0.2s
///micsines
@mixin r($minSize, $maxSize: false)

  @if $minSize and $maxSize
    @media only screen and (min-width: $minSize + 'px') and (max-width: $maxSize + 'px')
      @content

  @else
    @media only screen and (min-width: $minSize + 'px')
      @content