@import ../../styles/settings

.section

  h2
    padding-bottom: 60px

  .wrapper

    .cardWrapper

      &:not(:first-child)
        padding-top: 60px

      &:not(:last-child)
        padding-bottom: 60px

      &:nth-child(even)
        background-color: $greyLight
              
        .card
          display: grid
          grid-gap: 4%

          +r(0, 799)
            grid-template-columns: 1fr
          +r(992) 
            justify-content: space-between
            grid-template-columns: 32% 64% 
          +r(800, 991) 
            justify-content: space-between
            grid-template-columns: 42% 54% 

          .imgWrapper
            +r(800) 
              justify-content: flex-start  

      &:nth-child(odd) 

        .card
          display: grid

          grid-gap: 20px

          +r(0, 799)
            grid-template-columns: 1fr

          +r(800) 
            justify-content: space-between
          +r(992) 
            justify-content: space-between
            grid-template-columns: 64% 32% 
          +r(800, 991) 
            justify-content: space-between
            grid-template-columns: 54% 42% 

          .imgWrapper
            +r(800)
              justify-content: flex-end

              &:first-child
                grid-row: 1
                grid-column: 2

          .contentWrapper

            &:last-child
              +r(800)
                grid-row: 1
                grid-column: 1 

    h3
      text-transform: uppercase
      margin-bottom: 30px
      max-width: 565px          

    .imgWrapper
      +r(0, 799)
        max-width: 335px
        margin: 0 auto
      +r(800)  
        display: flex
      +r(800, 991)
        width: 335px
        align-items: baseline
      +r(992)  
        align-items: cente
 
      img
        +r(576, 991)
          min-width: 260px
        +r(992)
          min-width: 320px

    .price 
      margin-top: 30px

      p 
        position: relative
        padding-left: 60px
        max-width: 550px

        &::before
          position: absolute
          top: 0
          left: 0
          width: 50px
          height: 50px 

        span
          font-weight: 500       

    .priceFrauen
      color: $redLight 

      p
        &::before  
          content: url('./img/frau_coins.svg') 

    .priceKids
      color: $orange

      p
        &::before  
          content: url('./img/coin.svg')